/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: black;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans';
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.all-button {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

.categorie {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

.green-btn {
	height: 37px;
	padding: 0 20px;
	border-radius: 60px;
	border: 2px solid #1D6154;
	background-color: #1D6154;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	cursor: pointer;
}

.btn-filter {
	height: 37px;
	padding: 0 20px;
	border-radius: 60px;
	border: 2px solid #1D6154;
	background-color: #fff;
	font-size: 16px;
	font-weight: 700;
	color: #1D6154;
	cursor: pointer;
}

.edition-mode {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: #fff;
	height: 60px;
	font-size: 16px;
}

.edition-mode p {
	margin-left: 5px;
}

.modifier-et-projet {
	display: flex;
	align-items: center;
	justify-content: center;
}

.modifier-et-projet p {
	margin-bottom: 30px;
	margin-left: 5px;
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
}

.modifier-et-projet i {
	margin-bottom: 30px;
	margin-left: 20px;
}

.bandeau {
	background-color: white;
}

/* Code pour la modale */

.modale-container {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
}

.overlay {
    position: fixed; /* L'overlay sera fixé à la fenêtre, donc il couvrira toute la page */
    top: 0; 
    left: 0; 
    width: 100vw; /* 100% de la largeur de la fenêtre (viewport width) */
    height: 100vh; /* 100% de la hauteur de la fenêtre (viewport height) */
    background-color: rgba(0, 0, 0, 0.7); /* Couleur de fond semi-transparente */
    z-index: 1000; /* Pour être sûr que l'overlay soit au-dessus de tout le reste */
}

.modal {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: fixed;
	background-color: #fff;
	height: auto;
	width: 45%;
	z-index: 1000;
	top: 20%;
	left: 28%;
	padding: 20px;
	border-radius: 20px;
}

.cross {
	display: flex;
	justify-content: space-between;
	width: 100%;
	display: flex;
	font-size: 30px;
	right: 15px;
	top: 15px;
}

.visibilite {
	visibility: hidden;
}

.title-modal {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.title-modal > h3 {
	font-size: 30px;
	margin-top: 25px;
}

.title-modal button {
	height: 37px;
	padding: 0 20px;
	border-radius: 60px;
	border: 2px solid #1D6154;
	background-color: #1D6154;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	cursor: pointer;
	margin-bottom: 20px;
	margin-top: 20px;
}

.contenu {
	display: grid;
	justify-content: center;
	gap: 15px;
	width: 80%;
	height: 100%;
	grid-template-columns: 75px 75px 75px 75px 75px;
	grid-template-rows: auto;
}

.contenu-deux {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	height: 100%;
}
.contenu img {
	width: 75px;
}

.contenu .suppr {
	width: 75px;
	position: relative;
	/* margin: 2.5px 0 2.5px 0; */
	color: #fff;
}

.trash  {
	position: absolute;
	right: 5px;
	top: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	border-radius: 3px;
	width: 20px;
	height: 20px;
}

hr {
	width: 80%;
	border: 1px solid lightgray;
	margin-top: -20px;
}

/* Code pour la modale 'ajout photo' */
.add-picture {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #E8F1F6;
	border-radius: 6px;
}
.bx-photo-album {
	font-size: 100px;
	color: #B9C5CC;
}

.add-picture-button {
	background-color: #B9C5CC !important;
	border-color: #B9C5CC !important;
	color: #1D6154 !important;
	margin-bottom: 5px !important;
	margin-top: 5px !important;
	font-weight: 500 !important;
}

.add-picture p {
	margin-bottom: 10px;
}

form label {
	margin-top: 35px;
	font-weight: 500;
	font-size: 14px;
}

.title-upload, .category-upload {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.title-upload > input {
	border: none;
	height: 40px !important;
	box-shadow: 0px 4px 14px 0px #00000017;
}

.category-upload > select {
	border: none;
	height: 40px !important;
	box-shadow: 0px 4px 14px 0px #00000017;
}

/*MINESR-GAFRA5-KLEFJV*/